<!DOCTYPE html>
<html lang="en" layout:decorate="~{thymeleaf/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Develog</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="img-introduce">
            <h1>김동민</h1>
            <h1>프론트 엔드 개발자 포트폴리오 및 블로그</h1>

            <p>hello</p>
            <p>I'm harder hustler developer</p>
            <p>My name is Kim Dong Min</p>
        </div>
        <div class="main_layout">
            <div class="category_title">ABOUT ME</div>

            <div class="row mt-4">
                <!-- 이름 -->
                <div class="col-4 mb-3">
                    <div class="d-flex align-items-center">
                        <p class="me-3">이미지</p>
                        <div>
                            <div class="fw-bold">이름</div>
                            <div>김동민</div>
                        </div>
                    </div>
                </div>

                <!-- 생년월일 -->
                <div class="col-4 mb-3">
                    <div class="d-flex align-items-center">
                        <p class="me-3">이미지</p>
                        <div>
                            <div class="fw-bold">생년월일</div>
                            <div>94.01.04</div>
                        </div>
                    </div>
                </div>

                <!-- 위치 -->
                <div class="col-4 mb-3">
                    <div class="d-flex align-items-center">
                        <p class="me-3">이미지</p>
                        <div>
                            <div class="fw-bold">위치</div>
                            <div>서울특별시 금천구</div>
                        </div>
                    </div>
                </div>

                <div class="col-4 mb-3">
                    <div class="d-flex align-items-center">
                        <p class="me-3">이미지</p>
                        <div>
                            <div class="fw-bold">연락처</div>
                            <div>010-2828-1299</div>
                        </div>
                    </div>
                </div>

                <div class="col-4 mb-3">
                    <div class="d-flex align-items-center">
                        <p class="me-3">이미지</p>
                        <div>
                            <div class="fw-bold">이메일</div>
                            <div>kdm6045@gmail.com</div>
                        </div>
                    </div>
                </div>

                <div class="col-4 mb-3">
                    <div class="d-flex align-items-center">
                        <p class="me-3">이미지</p>
                        <div>
                            <div class="fw-bold">학력</div>
                            <div>
                                <div>동양미래대학교</div>
                                <div>(컴퓨터공학부)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>